torch
torchvision
torchaudio
torchmetrics
ffmpeg
ffmpeg-python
tifffile
imageio
imagecodecs
scikit-image
rasterio
opencv-python
scipy
pytorch_msssim
compressai
tqdm
scikit-learn
pillow
einops
timm
lazy_loader
